
.wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 24px 24px 84px;
}

.header {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin-top: 24px;
}

.aside {

  display: block;
  padding: 0 0 4px;
  text-align: right;
  border-bottom: 1px solid var(--color-dark-gray);
}

.list {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin-top: 12px;
}

.item {

  display: flex;
  flex-direction: column;
  flex: 1 0;

  & + & {
    margin-top: 8px;
  }
}
