.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border-radius: var(--border-radius-md);
  color: var(--color-silver);
  border: 1px solid var(--color-gainsboro);
  background: var(--color-white-smoke);
  transition: background-color var(--transition-duration);
}

.highlight {

  background: var(--color-light-grey);
}

.content {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
}

.icon {

  font-size: var(--font-size-3xl);
  text-align: center;
}

.description {

  margin-top: 8px;
  text-align: center;
}