
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
}

.content {

  display: block;
  text-align: center;
}

.icon {

  font-size: 138px;
  text-shadow: 0 4px 2px var(--color-black);
  color: var(--color-chocolate);
}

.description {

  display: block;
  margin: 24px;
}