.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  color: var(--color-dark);
  padding: 16px 0;
  align-items: center;
}

.name {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.brand {

  display: block;
}

.price {

  display: block;
  margin: 0 0 0 8px;
  width: 120px;
  text-align: right;
}

.link {

  text-decoration: none;
}

.control {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-md);
  color: var(--color-dim-gray);
  margin-left: 8px;
  cursor: pointer;
  transition: var(--transition-duration);

  &:hover {
    color: var(--color-white);
    background: var(--color-dark-gray);
  }
}