
.label {

  display: inline-block;
  line-height: 1;
  font-size: var(--font-size-sm);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  color: var(--color-gray);
  vertical-align: center;

  &--required:after {

    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--color-danger);
    content: '';
    margin: 0 0 4px 4px;
  }
}
