
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.editor {

  :global {
    .tiptap {

      position: relative;
      display: block;
      min-height: 37px;
      border: 1px solid var(--color-border-input);
      color: var(--color-text-input);
      border-radius: var(--border-radius-md);
      background-color: var(--color-background-input);
      transition:
              border var(--transition-duration),
              color var(--transition-duration),
              background-color var(--transition-duration);
      overflow: hidden;
      outline: none;
    }
  }
}