.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  color: var(--text-base-primary);
  overflow: auto;
}

.expand {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 var(--numbers-8);
  overflow: auto;
}

.text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
