
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: var(--numbers-24);
}

.header {

  display: block;
  color: var(--text-base-primary);
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: var(--numbers-24) 0 0;
}
