
.wrapper {

  display: block;
  width: 512px;
  padding: 24px;
  background: var(--color-white);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-lg);
}

.header {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin-top: 24px;
}

.control {

  display: block;
  margin-top: 24px;
  text-align: right;
}