.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: var(--color-gray-5);
  border-radius: var(--border-radius-md);
  color: var(--color-gray-50);
  cursor: pointer;

  &:hover {
    background: var(--color-gray-10);
  }
}