.wrapper {

  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-md);
  font-size: var(--font-size-md);
  color: var(--color-dim-gray);
  background: var(--color-white-smoke);
  cursor: pointer;
  transition: var(--transition-duration);

  &:hover {
    color: var(--color-white);
    background: var(--color-dark-gray);
  }
}

.mode {
  &--success {
    color: var(--color-white);
    background: var(--color-dark-green);

    &:hover {
      color: var(--color-white);
      background: var(--color-forest-green);
    }
  }

  &--danger {
    color: var(--color-white);
    background: var(--color-maroon);

    &:hover {
      color: var(--color-white);
      background: var(--color-brown);
    }
  }
}

.disabled,
.disabled:hover {

  color: var(--color-silver);
  background: var(--color-light-grey);
}

