
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.header {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 24px 0 0;
}

.fields {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.field {

  display: flex;
  flex-direction: column;
  flex: 0 0;

  & + & {
    margin: var(--numbers-16) 0 0;
  }
}
