
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0;
  background: var(--background-surface-neutral);
  border: var(--numbers-1) solid var(--background-surface-neutral-subtle);
  padding: var(--numbers-24);
  border-radius: var(--measurements-radius-xxl);
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.control {

  display: block;
  margin: var(--numbers-24) 0 0;
}

.variant {

  display: block;

  & + & {
    margin: var(--numbers-24) 0 0;
  }
}
