.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  color: var(--color-dim-gray);
  cursor: pointer;
}

.active {

  text-decoration: underline;
  color: var(--color-royal-blue);
}

.text {

  display: block;
  font-family: var(--font-family-body);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-body);
}