.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.product {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: var(--numbers-380);
}

.variants {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 var(--numbers-24);
}
