.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: var(--numbers-32);
}

.header {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: var(--numbers-24) 0 0;
}

.control {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: var(--numbers-24) 0 0;
}
