.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.label {

  display: block;
  color: var(--color-gray-40);
  margin: 0 0 2px 13px;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.error {

  display: block;
  margin: 2px 0 0;
}