
.wrapper {

  position: relative;
  display: block;
}

.label {

  display: block;
  padding: 0 0 0 14px;
}

.content {

  display: block;
  margin: 2px 0 0;
}

.message {

  position: absolute;
  top: 100%;
  display: block;
  padding: 1px 0 0 4px;
}

.text {

  display: block;
  font-size: var(--font-size-xsm);
  font-family: var(--font-family-body);
  color: var(--color-fire-brick);
}