.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.filter {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
