.wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  color: var(--text-base-primary);
  padding: var(--numbers-8) var(--numbers-12);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.name {
  color: var(--text-base-primary);
}

.additional {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: var(--numbers-4) 0 0;
}

.variant {
  color: var(--text-base-secondary);

  & + & {
    margin: var(--numbers-4) 0 0;
  }
}
