.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  color: var(--color-dark);
  background: var(--color-white);
  box-shadow: var(--shadow-sm);
  padding: 24px 36px 48px;
  border-radius: var(--border-radius-sm);
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.row {

  display: flex;
  flex-direction: column;
  flex: 1 0;

  & + & {
    margin-top: 8px;
  }
}

.control {

  display: block;
  text-align: right;
  margin-top: 34px;
}