.wrapper {

  display: block;
  color: var(--color-dodger-blue);
  white-space: nowrap;
  text-decoration: none;
  transition: color var(--transition-duration);

  &:hover {
    color: var(--color-royal-blue);
  }
}