.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  color: var(--color-dark);
  padding: 16px 0;
  align-items: center;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.name {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.info {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
}

.roles {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.role {

  display: block;

  & + & {
    margin-left: 4px;
  }
}

.status {

  display: block;
  width: 24px;
  margin-left: 16px;
  padding-left: 16px;
  text-align: center;
  border-left: 1px solid var(--color-light-grey);
}

.control {

  display: block;
  margin-left: 24px;
}