
.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  color: var(--color-dark);
  cursor: pointer;
  transition: var(--transition-duration);
}

.icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 24px;
  height: 24px;
}

.content {

  display: block;
  margin: 0 32px 0 8px;
  font-size: var(--font-size-md);
  font-family: var(--font-family-body);
}

.active {

  color: var(--color-royal-blue);

  .content {

    font-weight: var(--font-weight-heading);
  }
}