.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: 12px;
  color: var(--color-black);
  border-radius: var(--border-radius-md);

  &:hover {
    background: var(--color-blue-0);
  }
}

.active,
.active:hover {

  color: var(--color-white);
  background: var(--color-blue-10);
}