.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: var(--background-surface-neutral);
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  display: block;
  z-index: 20;
}

.context {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  overflow: hidden;
  z-index: 10;
}

.aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: var(--numbers-8) 0;
  width: var(--numbers-288);
  z-index: 20;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: var(--numbers-8);
  overflow: auto;
  z-index: 10;
}

.outlet {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-radius: var(--radius-lg, 10px);
  border: var(--numbers-1) solid var(--border-action-normal);
  background: var(--background-surface-default);
  box-shadow: 0 var(--numbers-1) var(--numbers-2) 0 rgba(20, 21, 26, 0.05);
  overflow: auto;
  z-index: 10;
}
