@media (prefers-color-scheme: dark) {
  .icon {

    --text-color: var(--color-black);
  }
}

@media (prefers-color-scheme: light) {
  .icon {

    --text-color: var(--color-black);
  }
}

.icon {

  display: inline-block;
  font-size: 24px;
}