:root {

    --color-white: #ffffff;
    --color-black: #000000;

  --color-gray-0: #f6f8fa;
  --color-gray-5: #e2e6e9;
  --color-gray-10: #cfd4d7;
  --color-gray-15: #bcc2c5;
  --color-gray-20: #a8a8ab;
  --color-gray-25: #949597;
  --color-gray-30: #808384;
  --color-gray-35: #6c6f70;
  --color-gray-40: #585c5d;
  --color-gray-45: #444748;
  --color-gray-50: #303233;
  --color-gray-55: #1c1e1f;
  --color-gray-60: #080808;

  --color-red-0: #f4b3b4;
  --color-red-5: #e39c9d;
  --color-red-10: #d68586;
  --color-red-15: #c76f6f;
  --color-red-20: #b85858;
  --color-red-25: #ad191c;
  --color-red-30: #9b171a;
  --color-red-35: #8a1518;
  --color-red-40: #781315;
  --color-red-45: #670f13;
  --color-red-50: #570d12;
  --color-red-55: #460b10;
  --color-red-60: #36090e;
  --color-red-65: #25060c;
  --color-red-70: #14040a;
  --color-red-75: #0b0208;
  --color-red-80: #0a0207;
  --color-red-85: #090206;
  --color-red-90: #080105;
  --color-red-95: #070104;
  --color-red-100: #060103;

  --color-green-0: #d0e6b5;
  --color-green-5: #b8d89f;
  --color-green-10: #a0cb7f;
  --color-green-15: #88be5f;
  --color-green-20: #70b23f;
  --color-green-25: #48ab1c;
  --color-green-30: #3e9b1a;
  --color-green-35: #349a18;
  --color-green-40: #2a9916;
  --color-green-45: #209015;
  --color-green-50: #188f13;
  --color-green-55: #148e12;
  --color-green-60: #0f8c10;
  --color-green-65: #0b8b0f;
  --color-green-70: #07890d;
  --color-green-75: #04880c;
  --color-green-80: #00860a;
  --color-green-85: #007509;
  --color-green-90: #006408;
  --color-green-95: #005307;
  --color-green-100: #004206;

  --color-green-light-0: #e0f8f0;
  --color-green-light-5: #b3e6d9;
  --color-green-light-10: #80d4c1;
  --color-green-light-15: #4dc2aa;
  --color-green-light-20: #15d199;
  --color-green-light-25: #14b183;
  --color-green-light-30: #129c75;
  --color-green-light-35: #0f8b68;
  --color-green-light-40: #0c7a5b;
  --color-green-light-45: #0a6850;
  --color-green-light-50: #085c45;
  --color-green-light-55: #064b39;
  --color-green-light-60: #043c2e;
  --color-green-light-65: #022e23;
  --color-green-light-70: #001f18;
  --color-green-light-75: #001814;
  --color-green-light-80: #001311;
  --color-green-light-85: #000e0d;
  --color-green-light-90: #000a0a;
  --color-green-light-95: #000505;

  --color-blue-0: #a0c8ff;
  --color-blue-5: #7ab4ff;
  --color-blue-10: #5ca0ff;
  --color-blue-15: #3e8cff;
  --color-blue-20: #2078ff;
  --color-blue-25: #1c68f3;
  --color-blue-30: #1b5bc8;
  --color-blue-35: #1a4fa0;
  --color-blue-40: #194385;
  --color-blue-45: #183d71;
  --color-blue-50: #172c5c;
  --color-blue-55: #14244c;
  --color-blue-60: #121f3f;
  --color-blue-65: #0f1b34;
  --color-blue-70: #0c1728;
  --color-blue-75: #0a131e;
  --color-blue-80: #08101b;
  --color-blue-85: #060b16;
  --color-blue-90: #050a12;
  --color-blue-95: #04070e;
  --color-blue-100: #03050b;

  --color-violet-0: #f2f7ff;
  --color-violet-5: #e6edff;
  --color-violet-10: #d9e3ff;
  --color-violet-15: #cce0ff;
  --color-violet-20: #c9d5eb;
  --color-violet-25: #b3c3e0;
  --color-violet-30: #9daed5;
  --color-violet-35: #87a2cb;
  --color-violet-40: #7196c0;
  --color-violet-45: #5b8cb5;
  --color-violet-50: #4681aa;
  --color-violet-55: #30759f;
  --color-violet-60: #1b6a94;
  --color-violet-65: #056f89;
  --color-violet-70: #005d7a;
  --color-violet-75: #00506c;
  --color-violet-80: #004461;
  --color-violet-85: #003754;;
  --color-violet-90: #002847;
  --color-violet-95: #001c3a;
  --color-violet-100: #00152e;

    //--color-violet-10: #c9d5eb;

  --color-orange-0: #f9d6b2;
  --color-orange-5: #f4c69e;
  --color-orange-10: #efb68a;
  --color-orange-15: #eaa576;
  --color-orange-20: #e09659;
  --color-orange-25: #d68b4e;
  --color-orange-30: #c98043;
  --color-orange-35: #bc7638;
  --color-orange-40: #b36b2d;
  --color-orange-45: #a86022;
  --color-orange-50: #9c5517;
  --color-orange-55: #964b14;
  --color-orange-60: #8f4011;
  --color-orange-65: #88360e;
  --color-orange-70: #812b0b;
  --color-orange-75: #7a2208;
  --color-orange-80: #731705;
  --color-orange-85: #6c0c02;
  --color-orange-90: #660000;
  --color-orange-95: #660000;
  --color-orange-100: #660000;

  //--color-orange-40: #e09659;

  --color-yellow-0: #ffffcc;
  --color-yellow-5: #ffffb3;
  --color-yellow-10: #ffff99;
  --color-yellow-15: #ffff80;
  --color-yellow-20: #ffff00;
  --color-yellow-25: #e6e600;
  --color-yellow-30: #cccc00;
  --color-yellow-35: #b3b300;
  --color-yellow-40: #999900;
  --color-yellow-45: #808000;
  --color-yellow-50: #666600;
  --color-yellow-55: #4d4d00;
  --color-yellow-60: #333300;
  --color-yellow-65: #1a1a00;
  --color-yellow-70: #000000;
  --color-yellow-75: #000000;
  --color-yellow-80: #000000;
  --color-yellow-85: #000000;
  --color-yellow-90: #000000;
  --color-yellow-95: #000000;
  --color-yellow-100: #000000;
}
