:root {

    --color-white: #ffffff;
    --color-black: #000000;

  --color-gray-0: #fcfcfc;
  --color-gray-5: #f1f1f1;
  --color-gray-10: #e9e9e9;
  --color-gray-15: #e0e0e0;
  --color-gray-20: #d3d3d3;
  --color-gray-25: #bfbfbf;
  --color-gray-30: #adadad;
  --color-gray-35: #a0a0a0;
  --color-gray-40: #949494;
  --color-gray-45: #848484;
  --color-gray-50: #6d6d6d;
  --color-gray-55: #4e4e4e;
  --color-gray-60: #242424;

  --color-red-0: #ffe1e7;
  --color-red-5: #faccd2;
  --color-red-10: #f7bec4;
  --color-red-15: #f0a1a8;
  --color-red-20: #eb8d94;
  --color-red-25: #e88087;
  --color-red-30: #e47279;
  --color-red-35: #e26970;
  --color-red-40: #dc4e56;
  --color-red-45: #d73a43;
  --color-red-50: #d2262f;
  --color-red-55: #c3222a;
  --color-red-60: #b41d24;
  --color-red-65: #a5181e;
  --color-red-70: #8f1116;
  --color-red-75: #850e12;
  --color-red-80: #7f0c10;
  --color-red-85: #72080b;
  --color-red-90: #6a0608;
  --color-red-95: #680507;
  --color-red-100: #550000;

  --color-green-0: #e1ffe3;
  --color-green-5: #cefad1;
  --color-green-10: #b7f4bc;
  --color-green-15: #9deea4;
  --color-green-20: #85e88d;
  --color-green-25: #72e37b;
  --color-green-30: #5cdd66;
  --color-green-35: #4bd956;
  --color-green-40: #3ed64a;
  --color-green-45: #2ed23b;
  --color-green-50: #24cf31;
  --color-green-55: #20c32d;
  --color-green-60: #1db929;
  --color-green-65: #19aa24;
  --color-green-70: #16a020;
  --color-green-75: #14991d;
  --color-green-80: #118e19;
  --color-green-85: #0d8014;
  --color-green-90: #0a7711;
  --color-green-95: #097410;
  --color-green-100: #005505;

  --color-blue-0: #e1e6ff;
  --color-blue-5: #d0d8fd;
  --color-blue-10: #bec9fb;
  --color-blue-15: #a6b5f8;
  --color-blue-20: #8a9ef4;
  --color-blue-25: #788ef2;
  --color-blue-30: #6981f0;
  --color-blue-35: #5974ee;
  --color-blue-40: #3d5deb;
  --color-blue-45: #264ae8;
  --color-blue-50: #0e36e5;
  --color-blue-55: #0d33db;
  --color-blue-60: #0c2fd0;
  --color-blue-65: #0a29be;
  --color-blue-70: #0923ac;
  --color-blue-75: #071d9a;
  --color-blue-80: #051685;
  --color-blue-85: #041481;
  --color-blue-90: #031176;
  --color-blue-95: #020c69;
  --color-blue-100: #000555;

  --color-orange-0: #fff3e1;
  --color-orange-5: #ffe5c6;
  --color-orange-10: #ffd9b0;
  --color-orange-15: #ffcd9a;
  --color-orange-20: #ffc184;
  --color-orange-25: #ffb66e;
  --color-orange-30: #ffaa58;
  --color-orange-35: #ff9f42;
  --color-orange-40: #ff932c;
  --color-orange-45: #ff8816;
  --color-orange-50: #ff7c00;
  --color-orange-55: #ee7400;
  --color-orange-60: #dd6c00;
  --color-orange-65: #cf6600;
  --color-orange-70: #c16000;
  --color-orange-75: #b35900;
  --color-orange-80: #a45200;
  --color-orange-85: #944b00;
  --color-orange-90: #834400;
  --color-orange-95: #713c00;
  --color-orange-100: #552f00;

  --color-yellow-0: #ffffe1;
  --color-yellow-5: #ffffcb;
  --color-yellow-10: #ffffb0;
  --color-yellow-15: #ffff96;
  --color-yellow-20: #ffff78;
  --color-yellow-25: #ffff64;
  --color-yellow-30: #ffff50;
  --color-yellow-35: #ffff40;
  --color-yellow-40: #ffff2b;
  --color-yellow-45: #ffff16;
  --color-yellow-50: #feff00;
  --color-yellow-55: #f0f100;
  --color-yellow-60: #dfe000;
  --color-yellow-65: #cecf00;
  --color-yellow-70: #bcbe00;
  --color-yellow-75: #abad00;
  --color-yellow-80: #999b00;
  --color-yellow-85: #888a00;
  --color-yellow-90: #7a7c00;
  --color-yellow-95: #6a6c00;
  --color-yellow-100: #535500;
}
