
html[data-theme="light"],
html[data-theme="dark"] {

    --color-background-home-primary: var(--color-dodger-blue);

    /*** INPUTS ***/

    --color-text-input: var(--color-black);
    --color-text-input-danger: var(--color-maroon);
    --color-text-input-disabled: var(--color-dim-gray);
    --color-text-input-placeholder: var(--color-dim-gray);
    --color-text-input-readonly: var(--color-dim-gray);

    --color-background-input: var(--color-white);
    --color-background-input-disabled: var(--color-gainsboro);
    --color-background-input-readonly: var(--color-ghost-white);

    --color-border-input: var(--color-silver);
    --color-border-input-hover: var(--color-gray);
    --color-border-input-focus: var(--color-black);
    --color-border-input-danger: var(--color-fire-brick);
    --color-border-input-disabled: var(--color-gainsboro);
    --color-border-input-readonly: var(--color-ghost-white);

    --color-control-input-primary: var(--color-silver);
    --color-control-input-primary-hover: var(--color-gray);
    --color-control-input-primary-focus: var(--color-black);
    --color-control-input-primary-disabled: var(--color-silver);

    --color-control-input-danger: var(--color-dark-salmon);
    --color-control-input-danger-hover: var(--color-red);
    --color-control-input-danger-focus: var(--color-fire-brick);
    --color-control-input-danger-disabled: var(--color-silver);

    /*** CHIPS ***/

    --color-text-chip: var(--color-black);
    --color-text-chip-disabled: var(--color-gainsboro);

    --color-background-chip: var(--color-ghost-white);
    --color-background-chip-hover: var(--color-ghost-white);
    --color-background-chip-disabled: var(--color-ghost-white);

    /*** BUTTONS ***/

    --font-family-button: var(--font-family-body);

    --font-size-button-small: var(--font-size-sm);
    --font-size-button-normal: var(--font-size-md);
    --font-size-button-large: var(--font-size-lg);

    /*--- primary ---*/

    --color-text-button-primary: var(--color-white);
    --color-text-button-primary-disabled: var(--color-dim-gray);

    --color-background-button-primary-disabled: var(--color-gainsboro);

    --color-background-button-primary-default: var(--color-medium-blue);
    --color-background-button-primary-default-hover: var(--color-dark-blue);

    --color-background-button-primary-success: var(--color-green);
    --color-background-button-primary-success-hover: var(--color-dark-green);

    --color-background-button-primary-danger: var(--color-brown);
    --color-background-button-primary-danger-hover: var(--color-maroon);

    /*--- secondary ---*/

    --color-text-button-secondary-disabled: var(--color-dim-gray);

    --color-background-button-secondary: var(--color-white);

    --color-text-button-secondary-default: var(--color-black);
    --color-text-button-secondary-default-hover: var(--color-dark-slate-gray);

    --color-text-button-secondary-success: var(--color-green);
    --color-text-button-secondary-success-hover: var(--color-dark-green);

    --color-text-button-secondary-danger: var(--color-brown);
    --color-text-button-secondary-danger-hover: var(--color-maroon);

    /*--- ghost ---*/

    --color-text-button-ghost-default: var(--color-black);
    --color-text-button-ghost-default-disabled: var(--color-dim-gray);

    --color-background-button-ghost-default: var(--color-white);
    --color-background-button-ghost-default-hover: var(--color-white-smoke);
    --color-background-button-ghost-default-disabled: var(--color-white-smoke);
}
