
:root {
    /*** FONT ***/

    --font-family-body: Arial, Helvetica, sans-serif;
    --font-family-heading: inherit;

    /*** FONT SIZE ***/

    --font-size-xsm: 8px;
    --font-size-sm: 11px;
    --font-size-md: 13px;
    --font-size-lg: 16px;
    --font-size-xl: 18px;
    --font-size-2xl: 24px;
    --font-size-3xl: 32px;

    /*** FONT WEIGHT ***/

    --font-weight-light: 300;
    --font-weight-body: 600;
    --font-weight-heading: 800;

    /*** LINE HEIGHT ***/

    --line-height-zero: 1;
    --line-height-body: 1.5;
    --line-height-heading: 1.25;

    /*** SHADOW ***/

    --shadow-card: 0 0 4px rgba(0, 0, 0, .125);
    --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    --shadow-md: 0 2px 6px -1px rgba(0, 0, 0, 0.3), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    --shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
    --shadow-inner: inset 0 2px 4px 0 rgba(0,0,0,0.06);
    --shadow-none: none;

    /*** BORDER RADIUS ***/

    --border-radius-none: 0;
    --border-radius-sm: 3px;
    --border-radius-md: 6px;
    --border-radius-lg: 8px;
    --border-radius-xl: 10px;
    --border-radius-2xl: 14px;

    /*** TRANSITION ***/

    --transition-duration: 300ms;
}
