:root {

    --label-font-size: 11px;

    --description-font-size: 12px;
    --description-compact-font-size: 10px;

    --text-font-size: 14px;
    --text-compact-font-size: 12px;

    --heading-font-size-xsm: 14px;
    --heading-font-size-sm: 16px;
    --heading-font-size-md: 20px;
    --heading-font-size-lg: 24px;
    --heading-font-size-xl: 32px;

    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    --border-radius-xl: 24px;

    --font-weight-md: 400;
    --font-weight-l: 500;
    --font-weight-xl: 600;
    --font-weight-xxl: 700;
}