@media (prefers-color-scheme: dark) {
  .element {

    --border-color: var(--color-blue-50);
    --background-color: var(--color-blue-50);
    --text-color: var(--color-white);

    /** disabled **/

    --border-color--disabled: var(--color-gray-15);
    --background-color--disabled: var(--color-gray-15);
    --text-color--disabled: var(--color-gray-35);

    /** mode success **/

    --border-color--success: var(--color-green-50);
    --background-color--success: var(--color-green-50);
    --text-color--success: var(--color-white);

    /** mode danger **/

    --border-color--danger: var(--color-red-50);
    --background-color--danger: var(--color-red-50);
    --text-color--danger: var(--color-white);
  }
}

@media (prefers-color-scheme: light) {
  .element {

    --border-color: var(--color-blue-50);
    --background-color: var(--color-blue-50);
    --text-color: var(--color-white);

    /** disabled **/

    --border-color--disabled: var(--color-gray-15);
    --background-color--disabled: var(--color-gray-15);
    --text-color--disabled: var(--color-gray-35);

    /** mode success **/

    --border-color--success: var(--color-green-50);
    --background-color--success: var(--color-green-50);
    --text-color--success: var(--color-white);

    /** mode danger **/

    --border-color--danger: var(--color-red-50);
    --background-color--danger: var(--color-red-50);
    --text-color--danger: var(--color-white);
  }
}

.element {

  position: relative;
  display: block;
  text-align: center;
  padding: 20px 24px;
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--border-color);
  background: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
}

.mode {

  &--danger {
    border: 1px solid var(--border-color--danger);
    background: var(--background-color--danger);
    color: var(--text-color--danger);
  }

  &--success {
    border: 1px solid var(--border-color--success);
    background: var(--background-color--success);
    color: var(--text-color--success);
  }
}

.element:disabled {

  border-color: var(--border-color--disabled);
  background: var(--background-color--disabled);
  color: var(--text-color--disabled);
  cursor: default;
}

.in-process {

  color: transparent;
}

.spinner {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
}