.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--numbers-24) var(--numbers-24) 0;
}

.title {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.create {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
