.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: var(--background-accent-blue-accent);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  z-index: 10;
}
