.heading {

  color: inherit;

  &-2 {
    font-weight: var(--font-weight-xxl);
    font-size: var(--heading-font-size-xl);
  }

  &-3 {
    font-weight: var(--font-weight-xl);
    font-size: var(--heading-font-size-lg);
  }

  &-4 {
    font-weight: var(--font-weight-xl);
    font-size: var(--heading-font-size-md);
  }

  &-5 {
    font-weight: var(--font-weight-xl);
    font-size: var(--heading-font-size-sm);
  }

  &-6 {
    font-weight: var(--font-weight-xl);
    font-size: var(--heading-font-size-xsm);
  }
}