
.wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: var(--color-blue-25);
  padding: 16px;
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
}

.header {

  display: block;
  z-index: 10;
}

.content {

  display: block;
  z-index: 10;
}

.header + .content {

  margin: 12px 0 0;
}

.title {

  display: block;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-heading);
  color: var(--color-white);
}

.text {

  display: block;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-body);
  color: var(--color-white);
}

.close {

  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  color: var(--color-white);
  font-size: var(--font-size-md);
  cursor: pointer;
  z-index: 90;
}
