.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: var(--numbers-16);
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.logotype {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  margin: 0 0 0 var(--numbers-32);
}

.control {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
