.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: var(--numbers-24) 0 0;
}

.line {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  & + & {
    margin: var(--numbers-24) 0 0;
  }
}
