.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-radius: var(--border-radius-lg);
  background: var(--color-white);
  box-shadow: 0 1px 10px 0 var(--color-gray-10);
  overflow: hidden;
}

.variant {
  &--top {
    border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
  }

  &--bottom {
    border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
  }
}

.size {
  &--small {
    border-radius: var(--border-radius-sm);
  }

  &--middle {
    border-radius: var(--border-radius-md);
  }

  &--extra-large {
    border-radius: var(--border-radius-xl);
  }
}