.wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: var(--numbers-8) 0;
  width: var(--numbers-280);
  border-right: var(--numbers-1) solid var(--border-base-divider);
  background: var(--background-surface-default);
  z-index: 20;
}

.link {
  text-decoration: none;
}
