.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.spinner {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--numbers-120);
  height: var(--numbers-120);
  background: var(--background-surface-default);
  border: var(--numbers-1) solid var(--border-base-divider);
  border-radius: var(--measurements-radius-xxl);
}
