
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 24px;
  overflow: hidden;
}

.header {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 24px 0 0;
  overflow: hidden;
}
