@import "tokens.css";

.base-day {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-body);
}

.date {

  @extend .base-day;

  color: var(--color-text-day);
  transition: var(--transition-duration);
  cursor: pointer;

  &:hover {
    background: var(--color-background-day-hover);
  }
}

.date.weekend {
  color: var(--color-text-day-weekend);
}

.date.today {
  text-decoration: underline;
}

.date.selected,
.date.selected:hover {
  font-weight: var(--font-weight-heading);
  background: var(--color-background-day-active);
  color: white;
}

.date.disabled {
  background: transparent;
  opacity: .2;
  cursor: default;
}

.other-date {

  @extend .base-day;

  color: var(--color-text-day-other);
  cursor: default;
}

.other-date.weekend {
  color: var(--color-text-day-other-weekend);
  opacity: .4;
}