
html[data-theme="light"],
html[data-theme="dark"] {

    --color-text-day: var(--color-black);
    --color-text-day-weekend: var(--color-crimson);
    --color-text-day-other: var(--color-light-grey);
    --color-text-day-other-weekend: var(--color-light-coral);

    --color-background-day-hover: var(--color-gainsboro);
    --color-background-day-active: var(--color-royal-blue);

    --color-border-delimeter: var(--color-gainsboro);
}
