@import "./tokens.css";

.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  cursor: pointer;
}

.container {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 21px;
  height: 21px;
  border-radius: var(--border-radius-md);
  border: 1px solid var(--color-border-checkbox);
  background-color: var(--color-background-checkbox);
  box-sizing: border-box;
  overflow: hidden;
  transition: border var(--transition-duration);
}

.wrapper:hover .container {
  border-color: var(--color-background-checkbox-hover);
}

.wrapper.disabled .container,
.wrapper.disabled:hover .container {
  background: var(--color-background-checkbox-disabled);
  border-color: var(--color-border-checkbox-disabled);
}

.disabled .mark,
.disabled .mark:hover {
  background: var(--color-background-checkbox-disabled);
}

.content {

  display: block;
  margin: 0 0 0 12px;
  font-family: var(--font-family-body);
}

.checkbox {

  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.mark {

  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-md);
  color: var(--color-marker-checkbox);
  background: var(--color-marker-background-checkbox);
  border-radius: calc(var(--border-radius-md) - 2px);
  opacity: 0;
  transition: background-color var(--transition-duration);
}

.wrapper:hover .container .checkbox ~ .mark {
  background: var(--color-background-checkbox-hover);
}

.wrapper.disabled:hover .container .checkbox ~ .mark {
  background: var(--color-background-checkbox-disabled);
}

.wrapper .container .checkbox:checked ~ .mark {
  opacity: 1;
}

.wrapper .container .checkbox:disabled ~ .mark {
  color: var(--color-marker-checkbox-disabled);
}