
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  justify-content: center;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.spinner {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
}

.logotype {

  display: block;
  margin-top: 64px;
}

.description {

  display: block;
  margin: 24px 0 0;
  color: var(--color-gray-25);
}