@media (prefers-color-scheme: dark) {
  [data-theme="button"] {

    --border-color: var(--color-blue-25);
    --background-color: var(--color-blue-25);
    --text-color: var(--color-white);

    /** disabled **/

    --border-color--disabled: var(--color-gray-10);
    --background-color--disabled: var(--color-gray-10);
    --text-color--disabled: var(--color-gray-25);

    /** mode success **/

    --border-color--success: var(--color-green-25);
    --background-color--success: var(--color-green-25);
    --text-color--success: var(--color-white);

    /** mode danger **/

    --border-color--danger: var(--color-red-25);
    --background-color--danger: var(--color-red-25);
    --text-color--danger: var(--color-white);
  }
}