
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
}

.container {

  display: block;
  width: 380px;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 36px 48px 48px;
}

.header {

  display: block;
  text-align: center;
}

.form {

  display: block;
  margin: 24px 0 0;
}
