
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.current {

  display: block;

  & + * {
    margin: 24px 0 0;
  }
}

.folders {

  & + * {
    margin: 42px 0 0;
  }
}

.files {

  display: block;
}
