
.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  text-decoration: none;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  max-width: 400px;

  & + & {
    margin: 16px 0 0;
  }
}
