
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  min-width: 42px;
  width: 180px;

  &--open {
    width: auto;
  }
}

.control {

  display: flex;
  flex-direction: row;
  flex: 0 0;
  justify-content: flex-end;
}

.icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 32px;
  margin: 4px;
  color: var(--color-white);
  font-size: var(--font-size-2xl);
  cursor: pointer;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}