.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 16px 0 0;
}

.control {

  display: block;
  margin: 24px 0 0;
}