.wrapper {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: baseline;
  color: var(--text-base-primary);
}

.price {
  text-align: right;
  color: var(--text-base-primary);
}

.currency {
  color: var(--text-base-tertiary);
  margin: 0 0 0 var(--numbers-8);
}
