
.wrapper {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: flex-end;
  color: var(--text-base-primary);
  padding: 0 var(--numbers-12);
}


.value {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  color: var(--text-base-primary);
}

.currency {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  color: var(--text-base-primary);
  margin: 0 0 0 var(--numbers-4);
}
