@import "./tokens.css";

.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 12px 16px;
  border-radius: var(--border-radius-md);
  color: var(--color-dark);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-body);
  font-family: var(--font-family-body);
  cursor: pointer;
  transition: color var(--transition-duration);

  &:hover {

    color: var(--color-cornflower-blue);
  }
}

.active,
.active:hover {

  font-weight: var(--font-weight-heading);
  color: var(--color-royal-blue);
}
