.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  color: var(--color-dark);
  padding: 16px 0;
  align-items: center;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.icon {

  display: block;
  font-size: 16px;
  color: var(--color-gray);
}

.name {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 0 0 0 16px;
}

.control {

  display: block;
  margin-left: 24px;
}
