.wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  color: var(--text-base-primary);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.text {
  text-align: center;
  color: var(--text-base-primary);
}
