
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: var(--color-background-home-primary);
}

.aside {

  display: flex;
  flex-direction: column;
  flex: 0 0;
  z-index: 10;
}

.container {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: #fff;
  box-shadow: var(--shadow-md);
  z-index: 20;
  overflow: hidden;
}


.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.footer {

  display: block;
  padding: 24px 24px 12px;
}