
.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: 0 0 0 12px;
  overflow: hidden;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  color: var(--color-gray-35);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
