.wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: var(--background-surface-default);
  overflow: hidden;
}

.header {

  position: sticky;
  top: 0;
  display: block;
  z-index: 20;
}

.context {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  overflow: hidden;
  z-index: 10;
}

.aside {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 280px;
  z-index: 20;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: auto;
  z-index: 10;
}

.breadcrumbs {

  display: block;
  padding: 16px 24px;
  background: var(--color-gray-5);
  border-bottom: var(--numbers-1) solid var(--border-action-normal);
  z-index: 20;
}

.outlet {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: auto;
  z-index: 10;
}