
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.header {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.fields {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.field {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  & + & {
    margin: 8px 0 0;
    padding: 8px 0 0;
    border-top: 1px solid var(--color-gray-10);
  }
}

.actual {

  border: 1px solid var(--color-green-50);
  border-radius: var(--border-radius-md);
  padding: 8px 12px;

  & + .field {

    margin-top: 8px;
  }
}