@media (prefers-color-scheme: dark) {
  .wrapper {

    --text-color: var(--color-black);

    /** disabled **/

    --text-color--disabled: var(--color-gray-10);

    /** mode success **/

    --text-color--success: var(--color-green-25);

    /** mode danger **/

    --text-color--danger: var(--color-red-25);
  }
}

@media (prefers-color-scheme: light) {
  .wrapper {

    --text-color: var(--color-black);

    /** disabled **/

    --text-color--disabled: var(--color-gray-10);

    /** mode success **/

    --text-color--success: var(--color-green-25);

    /** mode danger **/

    --text-color--danger: var(--color-red-25);
  }
}

.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  color: var(--text-color);
}

.element {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 12px;
  min-height: 64px;
  border: none;
  background: transparent;
  color: inherit;
  font-size: var(--text-font-size);
  font-family: inherit;
  outline: none;
  resize: none;
}

.element:-webkit-autofill,
.element:-webkit-autofill:hover,
.element:-webkit-autofill:focus,
.element:-webkit-autofill:active {

  -webkit-text-fill-color: var(--color-black);
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.mode {
  &--danger {

    color: var(--text-color--danger);
  }

  &--success {

    color: var(--text-color--success);
  }
}

.icon {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  margin: 0 8px 0 10px;
  color: inherit;
}

.with-left-icon {
  padding-left: 0;
}

.with-right-icon {
  padding-right: 0;
}