
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: var(--numbers-32);
}

.header {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: var(--numbers-24) 0 0;
}
