
.wrapper {

  display: inline-block;
  color: var(--color-black);
  cursor: pointer;
  border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
  transition: var(--transition-duration);
}

.content {

  display: inline-block;
  padding: 12px;
  font-size: var(--font-size-md);
  font-family: var(--font-family-body);
}

.active {

  background: var(--color-white);

  .content {
    font-weight: var(--font-weight-heading);
  }
}