.wrapper {

  position: relative;
  display: block;
  height: auto;
  min-height: 37px;
  border: 1px solid var(--color-border-input);
  color: var(--color-text-input);
  border-radius: var(--border-radius-md);
  background-color: var(--color-background-input);
  transition:
          border var(--transition-duration),
          color var(--transition-duration),
          background-color var(--transition-duration);
  overflow: hidden;
}

.hover,
.hover:hover {
  border-color: var(--color-border-input-hover);
}

.focused,
.focused:hover {
  border-color: var(--color-border-input-focus);
}

.element {

  position: relative;
  display: block;
  border: none;
  padding: 10px 16px;
  width: 100%;
  max-height: 126px;
  color: inherit;
  box-sizing: border-box;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-body);
  font-family: var(--font-family-body);
  background: transparent;
  outline: none;
  resize: none;
  overflow: auto;
  z-index: 20;
}

.mode {
  &--danger,
  &--danger:hover {
    color: var(--color-text-input-danger);
    border-color: var(--color-border-input-danger);
  }
}

.placeholder {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  padding: 0 16px;
  z-index: 10;

  .text {

    display: block;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-light);
    font-family: var(--font-family-body);
    font-style: italic;
    color: var(--color-text-input-placeholder);
  }
}

.disabled,
.disabled:hover {
  color: var(--color-text-input-disabled);
  border-color: var(--color-border-input-disabled);
  background: var(--color-background-input-disabled);
}

.readonly,
.readonly:hover {
  border-color: var(--color-border-input-readonly);
  background: var(--color-background-input-readonly);
}
