
html[data-theme="light"],
html[data-theme="dark"] {

    --color-marker-radio: var(--color-white);
    --color-marker-radio-disabled: var(--color-gray);
    --color-marker-background-radio: var(--color-green);

    --color-border-radio: var(--color-green);
    --color-border-radio-disabled: var(--color-silver);

    --color-background-radio: var(--color-white);
    --color-background-radio-hover: var(--color-dark-green);
    --color-background-radio-disabled: var(--color-gainsboro);
}
