.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  gap: var(--numbers-8);
  align-items: flex-start;
  user-select: none;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1 0;

  &:first-child {
    flex: 0 0 auto;
    width: auto;
    margin: var(--numbers-12) 0 0;
    cursor: pointer;
  }

  &:last-child {
    flex: 0 0 auto;
    width: auto;
    margin: var(--numbers-4) 0 0;
  }
}

.icon {
  color: var(--text-base-secondary);
}
