.description {

  display: block;
  color: inherit;
  font-weight: var(--font-weight-m);
  font-size: var(--description-font-size);
}

.variant {
  &--compact {
    font-size: var(--description-compact-font-size);
  }
}