
.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  justify-content: space-between;
}

.month {

  display: block;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-body);
}

.year {

  display: block;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-body);
  margin: 0 0 0 8px;
}
