
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.block {

  display: block;

  & + & {
    margin: 24px 0 0;
  }
}

.fields {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.field {

  display: flex;
  flex-direction: column;
  flex: 1 0;

  & + & {
    margin: 42px 0 0;
  }
}

.control {

  display: block;
  margin: 24px 0 0;
}