.wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: var(--numbers-4);
  color: var(--text-base-primary);
  padding: var(--numbers-8) var(--numbers-12);
}

.name {
  color: var(--text-base-primary);
}

.variants {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  gap: var(--numbers-4);
  padding: 0 0 0 var(--numbers-8);
}

.variant {
  color: var(--text-base-secondary);
}
