.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: flex-end;
}

.header {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  color: var(--text-base-primary);
}

.content {
  display: block;
}
