.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {
  display: block;
  color: var(--text-base-secondary);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: var(--numbers-2) 0 0;
}
