.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
