
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  border: 1px dashed transparent;
  border-radius: var(--border-radius-md);
  text-decoration: none;
  min-height: 156px;
  box-sizing: border-box;

  &:hover {
    border-color: var(--color-gray-20);
  }
}

.icon {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-35);
}

.name {

  display: block;
  padding: 0 0 16px;
  text-align: center;
  color: var(--color-black);
}