
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0;
  width: 480px;
}

.content {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0;
  margin: -8px;
}

.item {

  display: block;
  padding: 8px;
}

.fields {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 16px 0 0;
}

.field {

  display: flex;
  flex-direction: column;
  flex: 1 0;

  & + & {
    margin: 24px 0 0;
  }
}

.control {

  display: block;
  margin: 24px 0 0;
}