
.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  align-items: center;
  text-decoration: none;
  color: var(--color-grey);
  cursor: pointer;

  &:hover {
    color: var(--color-royal-blue);
  }
}

.icon {

  display: block;
  font-size: 16px;
  transition: var(--transition-duration);
}

.wrapper:hover .icon {
  transform: translateX(1px);
}

.caption {

  display: block;
  margin-left: 8px;
  transition: var(--transition-duration);
}