:root {
  #root {

    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--background-surface-neutral);
    z-index: 10;
  }
}



