:global {

  html,
  body {

    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    height: 100%;
    overflow: auto;
  }

  #root {

    position: relative;
    display: flex;
    flex: 1 0;
    flex-direction: column;
    overflow: auto;
    z-index: 10;
  }
}

