.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: flex-end;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.button {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 0 0 0 var(--numbers-16);
}
