.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  width: 100%;
  color: var(--color-gray-50);
  font-weight: var(--font-weight-xl);
  padding: 16px 24px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.mode {
  &--left {
    text-align: left;
  }
}

.resize {

  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: var(--color-gray-10);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}