
.wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  width: 100%;
}

.container {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.control {

  position: absolute;
  top: 100%;
  min-width: 120px;
  transform-origin: 0 0;
  z-index: 99999;
}

.list {

  display: block;
}