.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-width: 170px;
  border-radius: var(--border-radius-md);
  background: var(--color-white);
  box-shadow: var(--shadow-md);
  padding: 4px 4px 6px;
}