
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.content {

  display: block;
}

.control {

  display: block;
  margin: 32px 0 0;
  text-align: center;
}

.row {

  display: block;
  margin: 16px 0 0;

  & + & {
    margin: 6px 0 0;
  }
}

.description {

  display: block;
  margin: 16px 0 0;
}

.registry {

  display: block;
  margin: 16px 0 0;
  text-align: center;
}