@import "./tokens.css";

.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 8px 16px;
  color: var(--color-light-slate-gray);
  transition: color var(--transition-duration);
  cursor: pointer;

  &:hover {
    color: var(--color-royal-blue);
  }
}

.active {

  color: var(--color-royal-blue);
}

.text {

  display: block;
}
