.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
}

.container {
  display: block;
  width: 420px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: var(--numbers-32) var(--numbers-24) var(--numbers-24);
}

.header {
  display: block;
  text-align: center;
  color: var(--text-base-primary);
}

.form {
  display: block;
  margin: var(--numbers-24) 0 0;
}
