.carret {

  position: absolute;
  display: block;
  width: 1px;
  height: 100%;
  background: black;
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {background: transparent}

  50% {background: black}

  100% {background: transparent}
}