
.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;

}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: var(--numbers-24) 0 0;
}

.control {

  display: block;
  margin: var(--numbers-24) 0 0;
}

.property {

  display: block;

  & + & {
    margin: var(--numbers-16) 0 0;
  }
}