@import "./tokens.css";

.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  cursor: pointer;
}

.container {

  position: relative;
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid var(--color-border-radio);
  background-color: var(--color-background-radio);
  box-sizing: border-box;
  overflow: hidden;
  transition:
          border var(--transition-duration),
          background-color var(--transition-duration);
}

.wrapper:hover .container {
  border-color: var(--color-background-radio-hover);
}

.wrapper.disabled {
  cursor: default;
}

.wrapper.disabled .container,
.wrapper.disabled:hover .container {
  background: var(--color-background-radio-disabled);
  border-color: var(--color-border-radio-disabled);
}

.disabled .mark,
.disabled .mark:hover {
  background: var(--color-marker-radio-disabled);
}

.content {

  display: block;
  margin: 0 0 0 12px;
}

.radio {

  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.mark {

  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
  background: var(--color-marker-background-radio);
  border-radius: 50%;
  opacity: 0;
  transition:
          border var(--transition-duration),
          background-color var(--transition-duration);
}

.wrapper:hover .container .radio ~ .mark {
  background: var(--color-background-radio-hover);
}

.wrapper.disabled:hover .container .radio ~ .mark {
  background: var(--color-marker-radio-disabled);
}

.wrapper .container .radio:checked ~ .mark {
  opacity: 1;
}

.wrapper .container .radio:disabled ~ .mark {
  color: var(--color-marker-radio-disabled);
}