.wrapper {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: var(--numbers-16) var(--numbers-24) var(--numbers-16);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}
