.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  height: 100%;
  padding: 24px;
  background: var(--color-white);
}

.header {

  position: sticky;
  top: 0;
  display: block;
  z-index: 20;
}

.logotype {

  display: block;
  padding: 24px;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 24px 0 0;
  z-index: 10;
}