.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  color: var(--text-base-primary);
}

.control {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
