@import "./tokens.css";

.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 8px 16px;
}

.text {

  display: block;
  border-radius: var(--border-radius-md);
  color: var(--color-light-slate-gray);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-body);
  font-family: var(--font-family-body);
  cursor: pointer;
  transition: color var(--transition-duration);
}
