.scrollbar {
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  gap: var(--sticky-layout-gap, 0);
  padding: var(--sticky-layout-padding, 0);
  width: max-content;
}

.block {
  width: calc(var(--sticky-layout-viewport-width));
  //min-width: 0;
  //width: 100%;
}

.static {
  //flex: 1 0 auto;
}

.sticky {
  //flex: 1 0 auto;
}
