
.wrapper {

  position: relative;
  display: block;
}

.delete {

  position: absolute;
  top: 0;
  right: 0;
  display: block;
  color: var(--icon-base-primary);
  font-size: var(--numbers-20);
  cursor: pointer;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.fields {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.field {

  display: flex;
  flex-direction: column;
  flex: 1 0;

  & + & {
    margin: var(--numbers-16) 0 0;
  }
}

.fields .field + .field {
  margin: 0 0 0 var(--numbers-16);
}