
.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: 0 0 0 12px;
  overflow: hidden;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: hidden;
}

.text {

  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text.disabled {

  color: var(--color-text-input-disabled);
}