.wrapper {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  border-radius: var(--measurements-radius-lg);
  border: var(--numbers-1) solid var(--border-action-normal);
  overflow: hidden;
}

.table {

  table-layout: fixed;
  text-indent: 0;
  border-collapse: collapse;
}

.header {

  background: var(--background-surface-neutral);
}

.row {

  & + & {
    border-top: var(--numbers-1) solid var(--border-action-normal);
  }
}